#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        thl: thl {
            compatible = "zmk,behavior-hold-tap";
            label = "THL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 11 10 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41 36 37 38>;
        };

        mol: mol {
            compatible = "zmk,behavior-hold-tap";
            label = "MOL";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "hold-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 11 10 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41 36 37 38>;
        };

        thr: thr {
            compatible = "zmk,behavior-hold-tap";
            label = "THR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
        };

        mor: mor {
            compatible = "zmk,behavior-hold-tap";
            label = "MOR";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "hold-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
        };
    };

    combos {
        compatible = "zmk,combos";

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <7 8>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <8 9>;
        };

        left_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <31 32>;
        };

        right_bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <32 33>;
        };

        brackets {
            bindings = <&bkts>;
            key-positions = <31 32 33>;
        };
    };

    macros {
        bkts: bkts {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LEFT_BRACKET>,
                <&macro_tap>,
                <&kp RIGHT_BRACKET>;
        };

        arrow: arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp EQUAL>,
                <&macro_tap>,
                <&kp LS(PERIOD)>;
        };

        arrow_fn: arrow_fn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LS(NUMBER_9)>,
                <&macro_tap>,
                <&kp LS(NUMBER_0)>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_tap>,
                <&kp EQUAL>,
                <&macro_tap>,
                <&kp LS(PERIOD)>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_tap>,
                <&kp LS(LEFT_BRACKET)>,
                <&macro_tap>,
                <&kp LS(RIGHT_BRACKET)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";
            bindings = <
&none       &kp Q                    &kp W        &kp E         &kp R            &kp T         &kp Y       &kp U         &kp I            &kp O        &kp P                       &none
&kp ESCAPE  &thl LEFT_GUI A          &thl LALT S  &thl LCTRL D  &thl LSHFT F     &kp G         &kp H       &thr RSHFT J  &thr LCTRL K     &thr LALT L  &thr LGUI SEMI              &kp SQT
&mol 4 F13  &thl LS(LA(LC(LGUI))) Z  &kp X        &kp C         &kp V            &kp B         &kp N       &kp M         &kp COMMA        &kp PERIOD   &thr LC(LA(LS(LGUI))) FSLH  &kp BSLH
                                                  &none         &mt LSHFT GRAVE  &mol 2 TAB    &mor 3 RET  &mor 1 SPACE  &lt 5 BACKSPACE
            >;

            label = "base";
        };

        nav {
            display-name = "nav";
            bindings = <
&none   &none      &none      &none      &none      &none     &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &kp INSERT  &trans
&trans  &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &none     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans      &trans
&none   &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &none     &kp BACKSPACE   &kp DELETE      &trans        &trans           &trans      &trans
                              &trans     &trans     &trans    &trans          &trans          &trans
            >;

            label = "nav";
        };

        num {
            display-name = "num";
            bindings = <
&none   &none     &none     &none      &none      &none     &kp EQUAL  &kp N7  &kp N8  &kp N9  &none  &none
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none     &kp MINUS  &kp N4  &kp N5  &kp N6  &none  &none
&none   &none     &none     &none      &none      &none     &kp N0     &kp N1  &kp N2  &kp N3  &none  &none
                            &trans     &trans     &trans    &trans     &trans  &trans
            >;

            label = "num";
        };

        fn_left {
            display-name = "fn_left";
            bindings = <
&none  &none  &kp F9  &kp F8  &kp F7  &kp F12    &none  &none      &none      &none     &none     &none
&none  &none  &kp F6  &kp F5  &kp F4  &kp F11    &none  &kp RSHFT  &kp RCTRL  &kp LALT  &kp RGUI  &none
&none  &none  &kp F3  &kp F2  &kp F1  &kp F10    &none  &none      &none      &none     &none     &none
                      &none   &none   &none      &none  &none      &none
            >;

            label = "fn_left";
        };

        media {
            display-name = "media";
            bindings = <
&to 6  &none  &kp C_MUTE       &kp C_VOL_UP  &kp C_VOL_DN     &none    &msc SCRL_UP    &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &none  &none
&none  &none  &kp C_PREV       &kp C_PP      &kp C_NEXT       &none    &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none  &none
&none  &none  &kp PRINTSCREEN  &kp SYSREQ    &kp PAUSE_BREAK  &none    &none           &none           &none           &none            &none  &none
                               &none         &none            &none    &mkp MB1        &mkp MB2        &mkp MB3
            >;

            label = "media";
        };

        sym {
            bindings = <
&none  &kp MINUS     &kp LS(LT)     &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(GT)      &none  &none  &none  &none  &none  &none
&none  &kp LS(PLUS)  &kp EQUAL      &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(EXCL)    &none  &none  &none  &none  &none  &none
&none  &kp SPACE     &kp LS(CARET)  &kp LBKT      &kp RBKT      &kp LS(DLLR)    &none  &none  &none  &none  &none  &none
                                    &none         &none         &none           &none  &none  &none
            >;

            label = "sym";
        };

        sys {
            bindings = <
&to 0  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &bootloader  &sys_reset  &none  &none  &none  &none
&none  &none         &none         &none         &none         &bt BT_CLR        &none        &none       &none  &none  &none  &none
&none  &bootloader   &sys_reset    &none         &none         &bt BT_CLR_ALL    &none        &none       &none  &none  &none  &none
                                   &none         &none         &none             &none        &none       &none
            >;

            label = "sys";
        };
    };
};
